.codeBlockContainer {
    width: 100%;
}

.codeBlock {
    text-align: left !important;
    border-radius: 8px;
}

.codeBlock > pre > code {
    white-space: nowrap;
    border-radius: 8px;
    border: 3px solid red;
    font-size: 17px;
    padding: 7px;
}