* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2e2e2e;
    font-family: 'Roboto', sans-serif;
}

.terminal {
    position: fixed; 
    left: 0;
    width: 500px;
    height: 250px;
    
}